@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3rem;
    background-image: url(img/05.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    opacity: .95;
    background-position:center;
    background-color: #151C2F;
}

h1, h1, h3, span{
    margin: 0;
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 3rem;
    margin-left: -25rem;
    text-transform: uppercase;
    margin-top: 4rem;

}

img{
    max-width: 6rem;
    margin-left: 55rem;
    margin-top: 1rem;
}

h3{
    font-size: 1.4rem;
    text-align: center;
    margin-left:45rem;
}

span{
    font-size: 6rem;
}


.weatherContainer{
    max-width: 550px;
    height: 100vh;
    margin: 0 auto;
    display:grid;
    grid-template-rows: 20% 80%;
    /* text-align:center; */
    padding: 25px 5px;
}

.degrees{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 47.5rem;
    margin-top: -12rem;
}

button, input{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
    line-height: 1rem;
    margin: 1rem;
    width: 15%;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h4, button, input{
    margin-top: -15rem;
    margin-left: 2.5rem;
}

h4{
    line-height: 1.5rem;
}